// Navigation code here
nav {
    display:flex;
    align-items: center;
    flex-flow: column;
    padding: 10px;
    
    h1 {
        font-size: 4rem;
        padding-bottom: 20px;
    }

    a {
        text-decoration: none;
        color:black;
        font-size: 1.6rem;
        padding: 10px;
        
        &:hover {
            color: red;
        }
    }
}