// Navigation code here
nav {
    display:flex;
    align-items: center;
    flex-flow: column;
    padding: 10px;
    background-color: @nav-bg;
    font-family: @nav-font;
    border: 1px solid @nav-border;
    
    h1 {
        font-size: 5rem;
        padding-bottom: 20px;
    }

    a {
        text-decoration: none;
        color:@header-font-color;
        font-weight: bold;
        font-size: 2rem;
        padding: 15px;
        
        &:hover {
           
                color: lighten(@header-font-color, 30%);
              
        }
    }
}